<section>
    <h2>Have any Questions?</h2>
    <p><strong>We’ve got you!</strong> We made a list of answers for your frequently asked questions!</p>
    <a aria-label="FAQ page" href="/faq/" class="primary_button">Check Out</a>
</section>

<style>
    section {
        background: var(--background-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        width: 100%;
        padding: 4em;
    }

    h2 {
        margin: 0px;
    } 


    p {
        max-width: 40ch;
        margin-bottom: 2em;
    }
</style>
